<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "Pierce The Veil" %></title>
<meta name="description" content="New song coming soon, enter your email at piercetheveil.net to be the first to hear it!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Pierce The Veil">
<meta itemprop="description" content="New song coming soon, enter your email at piercetheveil.net to be the first to hear it!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/ptv2016/ptvshareimage.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@twitterhandle">
<meta name="twitter:title" content="Pierce The Veil">
<meta name="twitter:description" content="New song coming soon, enter your email at piercetheveil.net to be the first to hear it!">
<meta name="twitter:creator" content="@twitterhandle">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/ptv2016/ptvshareimage.png">

<!-- Open Graph data -->
<meta property="og:title" content="Pierce The Veil" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://piercetheveil.net/" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/ptv2016/ptvshareimage.png" />
<meta property="og:description" content="New song coming soon, enter your email at piercetheveil.net to be the first to hear it!" />
<meta property="og:site_name" content="http://piercetheveil.net/" />
