<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Pierce The Veil</h5>
        <p>BY ENTERING YOUR EMAIL ADDRESS AND SUBMITTING, YOU AGREE TO RECEIVE EMAILS FROM FEARLESS RECORDS AND PIERCE THE VEIL.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Connect With Us</h5>
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/PierceTheVeil/"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a target="_blank" href="https://twitter.com/piercetheveil"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a target="_blank" href="https://www.instagram.com/piercetheveil/"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a target="_blank" href="https://www.youtube.com/user/PierceTheVeilChannel"><i class="fa fa-youtube-square"></i> YouTube</a></li>
          <li><a target="_blank" href="https://open.spotify.com/artist/4iJLPqClelZOBCBifm8Fzv"><i class="fa fa-spotify"></i> Spotify</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Fearless Records
    </div>
  </div>
</footer>
