<footer class="page-footer white white-text">
  <div style="margin-top: 1000px; background-position: left; -ms-transform: rotate(1deg); -webkit-transform: rotate(1deg); transform: rotate(1deg);" class="paper-tear"></div>
  <div style="margin-top: 600px; background-position: right; -ms-transform: rotate(3deg); -webkit-transform: rotate(3deg); transform: rotate(3deg);" class="paper-tear"></div>
  <div style="margin-top: 200px; background-position: center; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg);" class="paper-tear"></div>
  <div class="container">
  <%= partial "layouts/partials/preorder" %>
  <div class="row footer-wrap">
    <div class="col s12 m10 offset-m1 m10 offset-l1 video center-align">
      <div class="video-container">
        <iframe id="ytEmbed" width="853" height="480" src="//www.youtube.com/embed/P0enTUnwR_Q?rel=0" frameborder="0" allowfullscreen=""></iframe>
        <img class="video-bg" src="https://s3.amazonaws.com/myfangate.com/ptv2016/videobackground.png">
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col s12 center-align">
        <a href="http://piercetheveil.tumblr.com" target="_blank" class="ptv-btn white-text btn btn-large black"><b>ENTER PIERCETHEVEIL.NET</b></a>
      </div>
    </div>
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SIGN UP FOR THE NEWSLETTER</h5>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display: none;"></iframe>
        <form id="email-form" action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1cnCJZ5PssQxDzCihYcHQJj2LRd3B_QcwCLzZ8CPBATI/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="">
          <div class="row">
            <div class="col s12 input-field">
              <input type="email" name="entry.2137816727">
              <label for="entry.2137816727">YOUR EMAIL ADDRESS</label>
            </div>
            <div class="error-box"></div>
          </div>
          <div class="row left-align">
            <input type="checkbox" class="filled-in" id="street-team" />
            <label class="white-text" for="street-team">I WANT TO JOIN THE STREET TEAM</label>
          </div>
          <div class="row">
            <div class="col s12 input-field center-align">
              <button class="btn btn-large ptv-red">SUBMIT</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Connect With Us</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://www.facebook.com/PierceTheVeil/"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="white-text" target="_blank" href="https://twitter.com/piercetheveil"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a class="white-text" target="_blank" href="https://www.instagram.com/piercetheveil/"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="white-text" target="_blank" href="https://www.youtube.com/user/PierceTheVeilChannel"><i class="fa fa-youtube-square"></i> YouTube</a></li>
          <li><a class="white-text" target="_blank" href="https://open.spotify.com/artist/4iJLPqClelZOBCBifm8Fzv"><i class="fa fa-spotify"></i> Spotify</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Fearless Records
    <a class="right" href="//fearlessrecords.com" target="_blank"><img style="width: 80px;" src="https://s3.amazonaws.com/myfangate.com/ptv2016/paperlogo.png"></a>
    </div>
  </div>
</footer>
