<div class="row center-align cta newalbum-cta">
  <div class="col s12 m5 offset-m1 margin-top">
    <a href="http://smarturl.it/misadventuresbundles" target="_blank"><img class="full-w hoverable" src="https://s3.amazonaws.com/myfangate.com/ptv2016/bundle2.jpg"></a>
  </div>
  <div class="col s12 m5 margin-top">
    <a href="http://smarturl.it/misadventuresbundles" target="_blank"><img class="full-w hoverable" src="https://s3.amazonaws.com/myfangate.com/ptv2016/bundle3.jpg"></a>
  </div>
  <div class="col s12">
    <h3 class="white-text pre-order-msg">MORE BUNDLES AVAILABLE</h3><a class="btn btn-large ptv-red white-text" href="http://smarturl.it/misadventuresbundles">HERE</a>
  </div>
  <div class="col s12">
    <a class="white-text" href="http://smarturl.it/misadventuresbundles"><img class="margin-super-top" src="https://s3.amazonaws.com/myfangate.com/ptv2016/button-itunes.png"></a>
  </div>
</div>
