<div class="row center-align cta newalbum-cta footer-wrap">
  <div class="col s12 m5 offset-m1 margin-top">
    <a class="bundle" href="http://smarturl.it/misadventuresbundles" target="_blank"><img class="full-w hoverable" src="https://s3.amazonaws.com/myfangate.com/ptv2016/bundle2.jpg"></a>
  </div>
  <div class="col s12 m5 margin-top">
    <a class="bundle" href="http://smarturl.it/misadventuresbundles" target="_blank"><img class="full-w hoverable" src="https://s3.amazonaws.com/myfangate.com/ptv2016/bundle3.jpg"></a>
  </div>
  <div class="col s12">
    <h3 class="white-text pre-order-msg">MORE BUNDLES AVAILABLE</h3><a class="btn btn-large ptv-red white-text bundle" href="http://smarturl.it/misadventuresbundles">HERE</a>
  </div>
</div>
