---
title: Pierce The Veil
---
<div class="container">
  <div class="row">
    <div class="col s12 m6 l6">
      <img class="album-img" src="https://s3.amazonaws.com/myfangate.com/ptv2016/albumcover.jpg">
    </div>
    <div class="col s12 m6 l6 video center-align">
      <div class="video-container">
        <iframe id="ytEmbed" width="853" height="480" src="//www.youtube.com/embed/kZDJeavb_90?rel=0" frameborder="0" allowfullscreen></iframe>
        <img class="video-bg" src="https://s3.amazonaws.com/myfangate.com/ptv2016/videobackground.png">
      </div>
      <img class="new-album" src="https://s3.amazonaws.com/myfangate.com/ptv2016/thenewalbum.png">
    </div>
  </div>
</div>
<div class="torn-paper hide-on-small-only"></div>
<div class="torn-paper-l hide-on-med-and-down"></div>
