---
title: Middleman 4 Boilerplate
---

<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1 center-align logo">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/ptv2016/ptvheader.jpg">
    </div>
    <div class="col s8 offset-s2 m6 offset-m3 video">
      <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col s12 gradient"></div>
    <div class="col s12 center-align cta">
      <h2 class="no-margin">Enter your email</h2>
      <h5 class="no-margin">to be the first to hear a new song</h5>
    </div>
  </div>
</div>
<!-- <div class="overlay"></div>
<div class="stars"></div>
 -->
